<h2>Personal Info</h2>

<p>{{ personal_data.name }} {{ personal_data.surname }}</p>
<p>{{ personal_data.gender }}, {{ personal_data.age }}</p>
<p><strong>I live in</strong> {{ personal_data.city_of_residence }} - {{ personal_data.country_of_residence }}</p>

<div style="margin: 1.5em 0;">
	<p style="margin-bottom: 1em;">I invite you to...</p>
	<p>say hello: <a href="mailto:{{contact_info.email}}">{{contact_info.email}}</a></p>
	<p>call me: {{contact_info.mobile}}</p>
	<p>or visit my <a href="{{contact_info.web}}" target="_blank">personal website</a></p>
	<p class="url">{{contact_info.web}}</p>
</div>

<h3>Social URLs</h3>
<ul class="enum">
	<li ng-repeat="url in contact_info.other_urls">
		<i class="fa fa-chevron-right"></i><a href="{{url.url}}" target="_blank">{{url.name}}</a>
		<p class="url">{{url.url}}</p>
	</li>
</ul>

<hr />

<h2>Academic Info</h2>
<ul>
	<li ng-repeat="study in studies"><strong>{{study.title}}</strong><p><em>{{study.period}}</em></p><p>{{study.center}}</p><p>{{study.city}}</p></li>
</ul>

<h3>Languages</h3>
<ul class="enum">
	<li ng-repeat="lang in languages">{{lang.lang_name}} - {{lang.level}}</li>
</ul>

<hr />

<h2>Profesional Info</h2>
<ul>
	<li class="experience" ng-repeat="exp in professional_experience">
		<h3>{{exp.company}}</strong></h3>
		<h4>{{exp.position}}</h4>
		<p>{{exp.period}}</p>
		<p>{{exp.description}}</p>
		<p>{{exp.duties}}</p>
		<p>{{exp.tech}}</p>
		
		<a href="{{exp.url}}" target="_blank">{{exp.url}}</a>
	</li>
</ul>

<hr />

<h2>Technical skills</h2>
<ul class="enum">
	<li ng-repeat="skill in tech_skills">{{ skill }}</li>
</ul>

<hr />

<h2>Some freelance projects</h2>
<ul>
<li class="experience" ng-repeat="project in projects">
	<a href="{{ project.url }}" target="_blank"><strong>{{ project.name }}</strong></a>
	<p class="url">{{ project.url }}</p>
	<p>{{ project.duties }}</p>
	<p>{{ project.description }}</p>
</li>
</ul>

<hr />

<h2>My Passions</h2>
<ul>
<li class="experience" ng-repeat="hobbie in hobbies">
	<strong>{{ hobbie.name }}</strong>
	<p>{{ hobbie.description}}</p>
	<img src="{{ hobbie.image }}" ng-show="hobbie.image"/>
</li>
</ul>