<h2>Info Personal</h2>

<p>{{ personal_data.name }} {{ personal_data.surname }}</p>
<p>{{ personal_data.gender }}, {{ personal_data.age }}</p>
<p><strong>Vivo en</strong> {{ personal_data.city_of_residence }} - {{ personal_data.country_of_residence }}</p>

<div style="margin: 1.5em 0;">
	<p style="margin-bottom: 1em;">Te invito a...</p>
	<p>decir hola: <a href="mailto:{{contact_info.email}}">{{contact_info.email}}</a></p>
	<p>llamarme: {{contact_info.mobile}}</p>
	<p>o visitar mi <a href="{{contact_info.web}}" target="_blank">página personal</a></p>
	<p class="url">{{contact_info.web}}</p>
</div>

<hr />

<h3>Mis redes</h3>
<ul class="enum">
	<li ng-repeat="url in contact_info.other_urls">
		<i class="glyphicon glyphicon-plus"></i><a href="{{url.url}}" target="_blank">{{url.name}}</a>
		<p class="url">{{url.url}}</p>
	</li>
</ul>

<hr />

<h2>Info Académica</h2>
<ul>
	<li ng-repeat="study in studies"><strong>{{study.title}}</strong><p><em>{{study.period}}</em></p><p>{{study.center}}</p><p>{{study.city}}</p></li>
</ul>

<h3>Idiomas</h3>
<ul class="enum">
	<li ng-repeat="lang in languages">{{lang.lang_name}} - {{lang.level}}</li>
</ul>

<hr />

<h2>Info Profesional</h2>
<ul>
	<li class="experience" ng-repeat="exp in professional_experience">
		<h3>{{exp.company}}</strong></h3>
		<h4>{{exp.position}}</h4>
		<p>{{exp.period}}</p>
		<p>{{exp.description}}</p>
		<p>{{exp.duties}}</p>
		<p>{{exp.tech}}</p>
		
		<a href="{{exp.url}}" target="_blank">{{exp.url}}</a>
	</li>
</ul>

<hr />

<h2>Habilidades técnicas</h2>
<ul class="enum">
	<li ng-repeat="skill in tech_skills">{{ skill }}</li>
</ul>

<hr />

<h2>Algunos proyectos como freelance</h2>
<ul>
<li class="experience" ng-repeat="project in projects">
	<a href="{{ project.url }}" target="_blank"><strong>{{ project.name }}</strong></a>
	<p class="url">{{ project.url }}</p>
	<p>{{ project.duties }}</p>
	<p>{{ project.description }}</p>
</li>
</ul>

<hr />

<h2>Mis pasiones</h2>
<ul>
<li class="experience" ng-repeat="hobbie in hobbies">
	<strong>{{ hobbie.name }}</strong>
	<p>{{ hobbie.description}}</p>
	<img src="{{ hobbie.image }}" />
</li>
</ul>